section#sleep.sleep.block
  .block__title.title.wow.animate__animated.animate__fadeInLeft(data-wow-offset='300')
    span sleep
    h3 sleep
  .block__slider.block-slider
    .block-slider__item
      .block-slider__header(style='background-image: url(/assets/img/sleep-slider-bg.png)')
        .block-slider__top.block-top.wow.animate__animated.animate__fadeInRight(data-wow-offset='300')
          .block-top__title.line-left Resorts
          .block-top__subtitle.subtitle
            | Auberge 
            span |
            |  Australia
        .block-slider__bottom.block-bottom(style='background-image: url(/assets/img/sleep-bed.png)')
          .block-bottom__title.line-right Rating
          .block-bottom__subtitle.subtitle
            | Excellent
            ul.block-bottom__stars
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
      .block-slider__info.block-info
        .block-info__item.wow.animate__animated.animate__fadeInUp(data-wow-offset='200' data-wow-delay='.3s')
          .block-info__title Resort
          .block-info__subtitle
            | Auberge 
            br
            |                     Australia
        .block-info__item.wow.animate__animated.animate__fadeInUp(data-wow-offset='200' data-wow-delay='.6s')
          .block-info__title # of Nights
          .block-info__subtitle
            .quantity
              input.nights(type='number' min='1' max='9' step='1' value='5')
            |                     Nights
        .block-info__item.wow.animate__animated.animate__fadeInUp(data-wow-offset='200' data-wow-delay='.9s')
          .block-info__title # of Guests
          .block-info__subtitle
            .quantity
              input.guests(type='number' min='1' max='9' step='1' value='4')
            |                     Guests
        .block-info__item.wow.animate__animated.animate__fadeInUp(data-wow-offset='200' data-wow-delay='1.2s')
          .block-info__title Pricing
          .block-info__subtitle.block-info__pricing
            span.block-info__price(data-nights='55' data-guests='25')
            |                     USD
            span.block-info__span Per Night
      .block-slider__btn.wow.animate__animated.animate__fadeInUp(data-wow-offset='200' data-wow-delay='0.6s' data-wow-duration='1.2s')
        a.btn(href='#')
          | book 
          span stay
    .block-slider__item
      .block-slider__header(style='background-image: url(/assets/img/sleep-slider-bg.png)')
        .block-slider__top.block-top
          .block-top__title.line-left Resorts
          .block-top__subtitle.subtitle
            | Auberge 
            span |
            |  Australia
        .block-slider__bottom.block-bottom(style='background-image: url(/assets/img/sleep-bed.png)')
          .block-bottom__title.line-right Rating
          .block-bottom__subtitle.subtitle
            | Excellent
            ul.block-bottom__stars
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
      .block-slider__info.block-info
        .block-info__item
          .block-info__title Resort
          .block-info__subtitle
            | Auberge 
            br
            |                     Australia
        .block-info__item
          .block-info__title # of Nights
          .block-info__subtitle
            .quantity
              input.nights(type='number' min='1' max='9' step='1' value='5')
            |                     Nights
        .block-info__item
          .block-info__title # of Guests
          .block-info__subtitle
            .quantity
              input.guests(type='number' min='1' max='9' step='1' value='4')
            |                     Guests
        .block-info__item
          .block-info__title Pricing
          .block-info__subtitle.block-info__pricing
            span.block-info__price(data-nights='55' data-guests='25')
            |                     USD
            span.block-info__span Per Night
      .block-slider__btn
        a.btn(href='#')
          | book 
          span stay
    .block-slider__item
      .block-slider__header(style='background-image: url(/assets/img/sleep-slider-bg.png)')
        .block-slider__top.block-top
          .block-top__title.line-left Resorts
          .block-top__subtitle.subtitle
            | Auberge 
            span |
            |  Australia
        .block-slider__bottom.block-bottom(style='background-image: url(/assets/img/sleep-bed.png)')
          .block-bottom__title.line-right Rating
          .block-bottom__subtitle.subtitle
            | Excellent
            ul.block-bottom__stars
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
      .block-slider__info.block-info
        .block-info__item
          .block-info__title Resort
          .block-info__subtitle
            | Auberge 
            br
            |                     Australia
        .block-info__item
          .block-info__title # of Nights
          .block-info__subtitle
            .quantity
              input.nights(type='number' min='1' max='9' step='1' value='5')
            |                     Nights
        .block-info__item
          .block-info__title # of Guests
          .block-info__subtitle
            .quantity
              input.guests(type='number' min='1' max='9' step='1' value='4')
            |                     Guests
        .block-info__item
          .block-info__title Pricing
          .block-info__subtitle.block-info__pricing
            span.block-info__price(data-nights='55' data-guests='25')
            |                     USD
            span.block-info__span Per Night
      .block-slider__btn
        a.btn(href='#')
          | book 
          span stay
    .block-slider__item
      .block-slider__header(style='background-image: url(/assets/img/sleep-slider-bg.png)')
        .block-slider__top.block-top
          .block-top__title.line-left Resorts
          .block-top__subtitle.subtitle
            | Auberge 
            span |
            |  Australia
        .block-slider__bottom.block-bottom(style='background-image: url(/assets/img/sleep-bed.png)')
          .block-bottom__title.line-right Rating
          .block-bottom__subtitle.subtitle
            | Excellent
            ul.block-bottom__stars
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
      .block-slider__info.block-info
        .block-info__item
          .block-info__title Resort
          .block-info__subtitle
            | Auberge 
            br
            |                     Australia
        .block-info__item
          .block-info__title # of Nights
          .block-info__subtitle
            .quantity
              input.nights(type='number' min='1' max='9' step='1' value='5')
            |                     Nights
        .block-info__item
          .block-info__title # of Guests
          .block-info__subtitle
            .quantity
              input.guests(type='number' min='1' max='9' step='1' value='4')
            |                     Guests
        .block-info__item
          .block-info__title Pricing
          .block-info__subtitle.block-info__pricing
            span.block-info__price(data-nights='55' data-guests='25')
            |                     USD
            span.block-info__span Per Night
      .block-slider__btn
        a.btn(href='#')
          | book 
          span stay
    .block-slider__item
      .block-slider__header(style='background-image: url(/assets/img/sleep-slider-bg.png)')
        .block-slider__top.block-top
          .block-top__title.line-left Resorts
          .block-top__subtitle.subtitle
            | Auberge 
            span |
            |  Australia
        .block-slider__bottom.block-bottom(style='background-image: url(/assets/img/sleep-bed.png)')
          .block-bottom__title.line-right Rating
          .block-bottom__subtitle.subtitle
            | Excellent
            ul.block-bottom__stars
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
      .block-slider__info.block-info
        .block-info__item
          .block-info__title Resort
          .block-info__subtitle
            | Auberge 
            br
            |                     Australia
        .block-info__item
          .block-info__title # of Nights
          .block-info__subtitle
            .quantity
              input.nights(type='number' min='1' max='9' step='1' value='5')
            |                     Nights
        .block-info__item
          .block-info__title # of Guests
          .block-info__subtitle
            .quantity
              input.guests(type='number' min='1' max='9' step='1' value='4')
            |                     Guests
        .block-info__item
          .block-info__title Pricing
          .block-info__subtitle.block-info__pricing
            span.block-info__price(data-nights='55' data-guests='25')
            |                     USD
            span.block-info__span Per Night
      .block-slider__btn
        a.btn(href='#')
          | book 
          span stay
    .block-slider__item
      .block-slider__header(style='background-image: url(/assets/img/sleep-slider-bg.png)')
        .block-slider__top.block-top
          .block-top__title.line-left Resorts
          .block-top__subtitle.subtitle
            | Auberge 
            span |
            |  Australia
        .block-slider__bottom.block-bottom(style='background-image: url(/assets/img/sleep-bed.png)')
          .block-bottom__title.line-right Rating
          .block-bottom__subtitle.subtitle
            | Excellent
            ul.block-bottom__stars
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
      .block-slider__info.block-info
        .block-info__item
          .block-info__title Resort
          .block-info__subtitle
            | Auberge 
            br
            |                     Australia
        .block-info__item
          .block-info__title # of Nights
          .block-info__subtitle
            .quantity
              input.nights(type='number' min='1' max='9' step='1' value='5')
            |                     Nights
        .block-info__item
          .block-info__title # of Guests
          .block-info__subtitle
            .quantity
              input.guests(type='number' min='1' max='9' step='1' value='4')
            |                     Guests
        .block-info__item
          .block-info__title Pricing
          .block-info__subtitle.block-info__pricing
            span.block-info__price(data-nights='55' data-guests='25')
            |                     USD
            span.block-info__span Per Night
      .block-slider__btn
        a.btn(href='#')
          | book 
          span stay
    .block-slider__item
      .block-slider__header(style='background-image: url(/assets/img/sleep-slider-bg.png)')
        .block-slider__top.block-top
          .block-top__title.line-left Resorts
          .block-top__subtitle.subtitle
            | Auberge 
            span |
            |  Australia
        .block-slider__bottom.block-bottom(style='background-image: url(/assets/img/sleep-bed.png)')
          .block-bottom__title.line-right Rating
          .block-bottom__subtitle.subtitle
            | Excellent
            ul.block-bottom__stars
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
      .block-slider__info.block-info
        .block-info__item
          .block-info__title Resort
          .block-info__subtitle
            | Auberge 
            br
            |                     Australia
        .block-info__item
          .block-info__title # of Nights
          .block-info__subtitle
            .quantity
              input.nights(type='number' min='1' max='9' step='1' value='5')
            |                     Nights
        .block-info__item
          .block-info__title # of Guests
          .block-info__subtitle
            .quantity
              input.guests(type='number' min='1' max='9' step='1' value='4')
            |                     Guests
        .block-info__item
          .block-info__title Pricing
          .block-info__subtitle.block-info__pricing
            span.block-info__price(data-nights='55' data-guests='25')
            |                     USD
            span.block-info__span Per Night
      .block-slider__btn
        a.btn(href='#')
          | book 
          span stay
    .block-slider__item
      .block-slider__header(style='background-image: url(/assets/img/sleep-slider-bg.png)')
        .block-slider__top.block-top
          .block-top__title.line-left Resorts
          .block-top__subtitle.subtitle
            | Auberge 
            span |
            |  Australia
        .block-slider__bottom.block-bottom(style='background-image: url(/assets/img/sleep-bed.png)')
          .block-bottom__title.line-right Rating
          .block-bottom__subtitle.subtitle
            | Excellent
            ul.block-bottom__stars
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
              li
                svg
                  use(xlink:href='/assets/icons/sprite.svg#star')
      .block-slider__info.block-info
        .block-info__item
          .block-info__title Resort
          .block-info__subtitle
            | Auberge 
            br
            |                     Australia
        .block-info__item
          .block-info__title # of Nights
          .block-info__subtitle
            .quantity
              input.nights(type='number' min='1' max='9' step='1' value='5')
            |                     Nights
        .block-info__item
          .block-info__title # of Guests
          .block-info__subtitle
            .quantity
              input.guests(type='number' min='1' max='9' step='1' value='4')
            |                     Guests
        .block-info__item
          .block-info__title Pricing
          .block-info__subtitle.block-info__pricing
            span.block-info__price(data-nights='55' data-guests='25')
            |                     USD
            span.block-info__span Per Night
      .block-slider__btn
        a.btn(href='#')
          | book 
          span stay