footer.footer
  a.btn(href='#')
    | go 
    span surf
  p.footer__copy
    | &copy; Designed by 
    span Go-Surf
    |  2020. Developed by 
    a(href='https://tsybulskayalena.github.io/') Olena Tsybulska
    | . All Rights Reserved.
