doctype html
html(lang="en")
  head
    include components/head.pug
  body
    .wrapper
      include components/preloader-backtop.pug
      include components/header.pug
      main.container
        include components/surf.pug
        include components/travel.pug
        include components/sleep.pug
        include components/shop.pug
        include components/footer.pug
