extends extends/layout

block content
  .wrapper
    include include/preloader-backtop.pug
    main.container
      include include/surf.pug
      include include/travel.pug
      include include/sleep.pug
      include include/shop.pug
