.footer {
  padding: 100px 10px 0;
  text-align: center;
  // .footer__copy
  &__copy {
    padding: 50px 0;
    a,
    span {
      color: $accent;
    }
  }
  .btn {
    span {
      padding-right: 17px;
      &::after {
        display: none;
      }
    }
  }
}
