.travel {
  background-image: url("../img/travel-glass.png");
  .block-bottom__subtitle {
    img {
      display: inline-block;
      position: absolute;
      left: 0;
      top: -3px;
      padding-left: 360px;
    }
  }
  .block-slider__bottom {
    margin-top: 300px;
    padding: 160px 0 0 80px;
  }
}
