section#shop.shop
  .shop__title.title
    span.wow.animate__animated.animate__fadeInLeft(data-wow-offset='300') shop
    h3 shop
  .shop__slider.shop-slider
    div
      .shop-slider__item(style='background-image: url(/assets/img/shop-slider-bg.png)')
        .shop-slider__info.shop-info
          .shop-info__title.line-right Style
          .shop-info__subtitle.subtitle
            | North Nugget TT 
            br
            | Surfboard
          ul.shop-info__stars.block-bottom__stars
            li
              svg
                use(xlink:href='/assets/icons/sprite.svg#star')
            li
              svg
                use(xlink:href='/assets/icons/sprite.svg#star')
            li
              svg
                use(xlink:href='/assets/icons/sprite.svg#star')
            li
              svg
                use(xlink:href='/assets/icons/sprite.svg#star')
            li
              svg
                use(xlink:href='/assets/icons/sprite.svg#star')
          .shop-info__price
            | $799 
            sup 99
          .shop-slider__btn
            a.btn(href='#')
              | drop 
              span in
        .shop__img.shop-img.wow.animate__animated.animate__fadeInUp(data-wow-offset='300')
          img(src='/assets/img/shop-surfboard.png' alt='surfboard')
          .shop-img__inner.shop-img__inner--1
            .shop-img__circle
              .shop-img__row
              .shop-img__row
            .shop-img__content
              | Double Concave with
              | Vee Shape low point
          .shop-img__inner.shop-img__inner--2
            .shop-img__circle
              .shop-img__row
              .shop-img__row
            .shop-img__content
              | Double Concave with
              | Vee Shape low point
          .shop-img__inner.shop-img__inner--3
            .shop-img__circle
              .shop-img__row
              .shop-img__row
            .shop-img__content
              | Double Concave with
              | Vee Shape low point
        .shop__extras.shop-extras.wow.animate__animated.animate__fadeInUp(data-wow-offset='200' data-wow-delay='.6s')
          .shop-extras__title Extras
          .shop-extras__inner
            .shop-extras__item
              .shop-extras__img
                img(src='/assets/img/shop-wax.png' alt='wax')
              p.shop-extras__name Sex Wax
              p.shop-extras__price $24.99
            .shop-extras__item
              .shop-extras__img
                img(src='/assets/img/shop-bracelet.png' alt='wax')
              p.shop-extras__name Pura Vida
              p.shop-extras__price $27.99
    div
      .shop-slider__item(style='background-image: url(/assets/img/shop-slider-bg.png)')
        .shop-slider__info.shop-info
          .shop-info__title.line-right Style
          .shop-info__subtitle.subtitle
            | North Nugget TT 
            br
            | Surfboard
          ul.shop-info__stars.block-bottom__stars
            li
              svg
                use(xlink:href='/assets/icons/sprite.svg#star')
            li
              svg
                use(xlink:href='/assets/icons/sprite.svg#star')
            li
              svg
                use(xlink:href='/assets/icons/sprite.svg#star')
            li
              svg
                use(xlink:href='/assets/icons/sprite.svg#star')
            li
              svg
                use(xlink:href='/assets/icons/sprite.svg#star')
          .shop-info__price
            | $799 
            sup 99
          .shop-slider__btn
            a.btn(href='#')
              | drop 
              span in
        .shop__img.shop-img
          img(src='/assets/img/shop-surfboard.png' alt='surfboard')
          .shop-img__inner.shop-img__inner--1
            .shop-img__circle
              .shop-img__row
              .shop-img__row
            .shop-img__content
              | Double Concave with 
              br
              |   Vee Shape low point
          .shop-img__inner.shop-img__inner--2
            .shop-img__circle
              .shop-img__row
              .shop-img__row
            .shop-img__content
              | Double Concave with 
              br
              |   Vee Shape low point
          .shop-img__inner.shop-img__inner--3
            .shop-img__circle
              .shop-img__row
              .shop-img__row
            .shop-img__content
              | Double Concave with 
              br
              |   Vee Shape low point
        .shop__extras.shop-extras
          .shop-extras__title Extras
          .shop-extras__inner
            .shop-extras__item
              .shop-extras__img
                img(src='/assets/img/shop-wax.png' alt='wax')
              p.shop-extras__name Sex Wax
              p.shop-extras__price $24.99
            .shop-extras__item
              .shop-extras__img
                img(src='/assets/img/shop-bracelet.png' alt='wax')
              p.shop-extras__name Pura Vida
              p.shop-extras__price $27.99
    div
      .shop-slider__item(style='background-image: url(/assets/img/shop-slider-bg.png)')
        .shop-slider__info.shop-info
          .shop-info__title.line-right Style
          .shop-info__subtitle.subtitle
            | North Nugget TT 
            br
            | Surfboard
          ul.shop-info__stars.block-bottom__stars
            li
              svg
                use(xlink:href='/assets/icons/sprite.svg#star')
            li
              svg
                use(xlink:href='/assets/icons/sprite.svg#star')
            li
              svg
                use(xlink:href='/assets/icons/sprite.svg#star')
            li
              svg
                use(xlink:href='/assets/icons/sprite.svg#star')
            li
              svg
                use(xlink:href='/assets/icons/sprite.svg#star')
          .shop-info__price
            | $799 
            sup 99
          .shop-slider__btn
            a.btn(href='#')
              | drop 
              span in
        .shop__img.shop-img
          img(src='/assets/img/shop-surfboard.png' alt='surfboard')
          .shop-img__inner.shop-img__inner--1
            .shop-img__circle
              .shop-img__row
              .shop-img__row
            .shop-img__content
              | Double Concave with 
              br
              |   Vee Shape low point
          .shop-img__inner.shop-img__inner--2
            .shop-img__circle
              .shop-img__row
              .shop-img__row
            .shop-img__content
              | Double Concave with 
              br
              |   Vee Shape low point
          .shop-img__inner.shop-img__inner--3
            .shop-img__circle
              .shop-img__row
              .shop-img__row
            .shop-img__content
              | Double Concave with 
              br
              |   Vee Shape low point
        .shop__extras.shop-extras
          .shop-extras__title Extras
          .shop-extras__inner
            .shop-extras__item
              .shop-extras__img
                img(src='/assets/img/shop-wax.png' alt='wax')
              p.shop-extras__name Sex Wax
              p.shop-extras__price $24.99
            .shop-extras__item
              .shop-extras__img
                img(src='/assets/img/shop-bracelet.png' alt='wax')
              p.shop-extras__name Pura Vida
              p.shop-extras__price $27.99