section#surf.surf
  .surf__title.title
    span.wow.animate__animated.animate__fadeInLeft(data-wow-offset='300') surf
    h3 surf
  .surf__subtitle.surf-subtitle.wow.animate__animated.animate__fadeInRight(data-wow-offset='300')
    .surf-subtitle__title.line-left Current location
    .surf-subtitle__location.subtitle
      | California 
      span |
      |  USA
  .surf__map.surf-map.wow.animate__animated.animate__zoomIn(data-wow-offset='400' data-wow-duration='1s')
    .surf-map__item.surf-map__item--1
      .surf-map__circle.wow.animate__animated.animate__fadeInDown(data-wow-delay='1.1s')
      .surf-map__content.map-content.wow.animate__animated.animate__fadeInDown(data-wow-delay='1.1s')
        .map-content__row
          .map-content__header
            .map-content__title Airlie Beach
            .map-content__location Australia
          a.map-content__link(href='#')
            svg(width='25' height='21')
              use(xlink:href='/assets/icons/sprite.svg#arrow-right')
        .map-content__row
          .map-content__item
            svg(width='35' height='25')
              use(xlink:href='/assets/icons/sprite.svg#surf')
            .map-content__number 9 -13
            .map-content__text Surf (FT)
          .map-content__item
            svg(width='19' height='25')
              use(xlink:href='/assets/icons/sprite.svg#water')
            .map-content__number +2.3
            .map-content__text Tide (FT)
          .map-content__item
            svg(width='26' height='25')
              use(xlink:href='/assets/icons/sprite.svg#wind')
            .map-content__number 4 SE
            .map-content__text Wind (KTS)
    .surf-map__item.surf-map__item--2
      .surf-map__circle.wow.animate__animated.animate__fadeInDown(data-wow-delay='1.2s')
      .surf-map__content.map-content
        .map-content__row
          .map-content__header
            .map-content__title Airlie Beach
            .map-content__location Australia
          a.map-content__link(href='#')
            svg(width='25' height='21')
              use(xlink:href='/assets/icons/sprite.svg#arrow-right')
        .map-content__row
          .map-content__item
            svg(width='35' height='25')
              use(xlink:href='/assets/icons/sprite.svg#surf')
            .map-content__number 9 -13
            .map-content__text Surf (FT)
          .map-content__item
            svg(width='19' height='25')
              use(xlink:href='/assets/icons/sprite.svg#water')
            .map-content__number +2.3
            .map-content__text Tide (FT)
          .map-content__item
            svg(width='26' height='25')
              use(xlink:href='/assets/icons/sprite.svg#wind')
            .map-content__number 4 SE
            .map-content__text Wind (KTS)
    .surf-map__item.surf-map__item--3
      .surf-map__circle.wow.animate__animated.animate__fadeInDown(data-wow-delay='1.3s')
      .surf-map__content.map-content
        .map-content__row
          .map-content__header
            .map-content__title Airlie Beach
            .map-content__location Australia
          a.map-content__link(href='#')
            svg(width='25' height='21')
              use(xlink:href='/assets/icons/sprite.svg#arrow-right')
        .map-content__row
          .map-content__item
            svg(width='35' height='25')
              use(xlink:href='/assets/icons/sprite.svg#surf')
            .map-content__number 9 -13
            .map-content__text Surf (FT)
          .map-content__item
            svg(width='19' height='25')
              use(xlink:href='/assets/icons/sprite.svg#water')
            .map-content__number +2.3
            .map-content__text Tide (FT)
          .map-content__item
            svg(width='26' height='25')
              use(xlink:href='/assets/icons/sprite.svg#wind')
            .map-content__number 4 SE
            .map-content__text Wind (KTS)
    .surf-map__item.surf-map__item--4
      .surf-map__circle.wow.animate__animated.animate__fadeInDown(data-wow-delay='1.4s')
      .surf-map__content.map-content
        .map-content__row
          .map-content__header
            .map-content__title Airlie Beach
            .map-content__location Australia
          a.map-content__link(href='#')
            svg(width='25' height='21')
              use(xlink:href='/assets/icons/sprite.svg#arrow-right')
        .map-content__row
          .map-content__item
            svg(width='35' height='25')
              use(xlink:href='/assets/icons/sprite.svg#surf')
            .map-content__number 9 -13
            .map-content__text Surf (FT)
          .map-content__item
            svg(width='19' height='25')
              use(xlink:href='/assets/icons/sprite.svg#water')
            .map-content__number +2.3
            .map-content__text Tide (FT)
          .map-content__item
            svg(width='26' height='25')
              use(xlink:href='/assets/icons/sprite.svg#wind')
            .map-content__number 4 SE
            .map-content__text Wind (KTS)
    .surf-map__item.surf-map__item--5
      .surf-map__circle.wow.animate__animated.animate__fadeInDown(data-wow-delay='1.5s')
      .surf-map__content.map-content
        .map-content__row
          .map-content__header
            .map-content__title Airlie Beach
            .map-content__location Australia
          a.map-content__link(href='#')
            svg(width='25' height='21')
              use(xlink:href='/assets/icons/sprite.svg#arrow-right')
        .map-content__row
          .map-content__item
            svg(width='35' height='25')
              use(xlink:href='/assets/icons/sprite.svg#surf')
            .map-content__number 9 -13
            .map-content__text Surf (FT)
          .map-content__item
            svg(width='19' height='25')
              use(xlink:href='/assets/icons/sprite.svg#water')
            .map-content__number +2.3
            .map-content__text Tide (FT)
          .map-content__item
            svg(width='26' height='25')
              use(xlink:href='/assets/icons/sprite.svg#wind')
            .map-content__number 4 SE
            .map-content__text Wind (KTS)
    .surf-map__item.surf-map__item--6
      .surf-map__circle.wow.animate__animated.animate__fadeInDown(data-wow-delay='1.6s')
      .surf-map__content.map-content
        .map-content__row
          .map-content__header
            .map-content__title Airlie Beach
            .map-content__location Australia
          a.map-content__link(href='#')
            svg(width='25' height='21')
              use(xlink:href='/assets/icons/sprite.svg#arrow-right')
        .map-content__row
          .map-content__item
            svg(width='35' height='25')
              use(xlink:href='/assets/icons/sprite.svg#surf')
            .map-content__number 9 -13
            .map-content__text Surf (FT)
          .map-content__item
            svg(width='19' height='25')
              use(xlink:href='/assets/icons/sprite.svg#water')
            .map-content__number +2.3
            .map-content__text Tide (FT)
          .map-content__item
            svg(width='26' height='25')
              use(xlink:href='/assets/icons/sprite.svg#wind')
            .map-content__number 4 SE
            .map-content__text Wind (KTS)
    .surf-map__item.surf-map__item--7
      .surf-map__circle.wow.animate__animated.animate__fadeInDown(data-wow-delay='1.7s')
      .surf-map__content.map-content
        .map-content__row
          .map-content__header
            .map-content__title Airlie Beach
            .map-content__location Australia
          a.map-content__link(href='#')
            svg(width='25' height='21')
              use(xlink:href='/assets/icons/sprite.svg#arrow-right')
        .map-content__row
          .map-content__item
            svg(width='35' height='25')
              use(xlink:href='/assets/icons/sprite.svg#surf')
            .map-content__number 9 -13
            .map-content__text Surf (FT)
          .map-content__item
            svg(width='19' height='25')
              use(xlink:href='/assets/icons/sprite.svg#water')
            .map-content__number +2.3
            .map-content__text Tide (FT)
          .map-content__item
            svg(width='26' height='25')
              use(xlink:href='/assets/icons/sprite.svg#wind')
            .map-content__number 4 SE
            .map-content__text Wind (KTS)
    .surf-map__item.surf-map__item--8
      .surf-map__circle.wow.animate__animated.animate__fadeInDown(data-wow-delay='1.8s')
      .surf-map__content.map-content
        .map-content__row
          .map-content__header
            .map-content__title Airlie Beach
            .map-content__location Australia
          a.map-content__link(href='#')
            svg(width='25' height='21')
              use(xlink:href='/assets/icons/sprite.svg#arrow-right')
        .map-content__row
          .map-content__item
            svg(width='35' height='25')
              use(xlink:href='/assets/icons/sprite.svg#surf')
            .map-content__number 9 -13
            .map-content__text Surf (FT)
          .map-content__item
            svg(width='19' height='25')
              use(xlink:href='/assets/icons/sprite.svg#water')
            .map-content__number +2.3
            .map-content__text Tide (FT)
          .map-content__item
            svg(width='26' height='25')
              use(xlink:href='/assets/icons/sprite.svg#wind')
            .map-content__number 4 SE
            .map-content__text Wind (KTS)
  .surf__slider.surf-slider
    .surf-slider__item.wow.animate__animated.animate__fadeInUp(data-wow-offset='200' data-wow-delay='.3s')
      .surf-slider__wrapper(style='background-image: url(/assets/img/slide-1.jpg)')
        .surf-slider__inner
          .surf-slider__title Malibu Beach
          .surf-slider__location
            | California 
            span |
            |  USA
          .surf-slider__btn
            a.btn(href='#')
              | view 
              span surf
    .surf-slider__item.wow.animate__animated.animate__fadeInUp(data-wow-offset='200' data-wow-delay='.6s')
      .surf-slider__wrapper(style='background-image: url(/assets/img/slide-2.jpg)')
        .surf-slider__inner
          .surf-slider__title Airlie Beach
          .surf-slider__location
            | Queensland 
            span |
            |  Australia
          .surf-slider__btn
            a.btn(href='#')
              | view 
              span surf
    .surf-slider__item.wow.animate__animated.animate__fadeInUp(data-wow-offset='200' data-wow-delay='.9s')
      .surf-slider__wrapper(style='background-image: url(/assets/img/slide-3.jpg)')
        .surf-slider__inner
          .surf-slider__title Cloud Nine
          .surf-slider__location
            | Siargao 
            span |
            |  Philippines
          .surf-slider__btn
            a.btn(href='#')
              | view 
              span surf
    .surf-slider__item.wow.animate__animated.animate__fadeInUp(data-wow-offset='200' data-wow-delay='1.2s')
      .surf-slider__wrapper(style='background-image: url(/assets/img/slide-4.jpg)')
        .surf-slider__inner
          .surf-slider__title Vieux Boucau
          .surf-slider__location
            | Hossegor 
            span |
            |  France
          .surf-slider__btn
            a.btn(href='#')
              | view 
              span surf
    .surf-slider__item
      .surf-slider__wrapper(style='background-image: url(/assets/img/slide-1.jpg)')
        .surf-slider__inner
          .surf-slider__title Malibu Beach
          .surf-slider__location
            | California 
            span |
            |  USA
          .surf-slider__btn
            a.btn(href='#')
              | view 
              span surf
    .surf-slider__item
      .surf-slider__wrapper(style='background-image: url(/assets/img/slide-2.jpg)')
        .surf-slider__inner
          .surf-slider__title Airlie Beach
          .surf-slider__location
            | Queensland 
            span |
            |  Australia
          .surf-slider__btn
            a.btn(href='#')
              | view 
              span surf
    .surf-slider__item
      .surf-slider__wrapper(style='background-image: url(/assets/img/slide-3.jpg)')
        .surf-slider__inner
          .surf-slider__title Cloud Nine
          .surf-slider__location
            | Siargao 
            span |
            |  Philippines
          .surf-slider__btn
            a.btn(href='#')
              | view 
              span surf
    .surf-slider__item
      .surf-slider__wrapper(style='background-image: url(/assets/img/slide-4.jpg)')
        .surf-slider__inner
          .surf-slider__title Vieux Boucau
          .surf-slider__location
            | Hossegor 
            span |
            |  France
          .surf-slider__btn
            a.btn(href='#')
              | view 
              span surf