section#travel.travel.block
  .block__title.title
    span.wow.animate__animated.animate__fadeInLeft(data-wow-offset='300') travel
    h3 travel
  .block__slider.block-slider
    .block-slider__item
      .block-slider__header(style='background-image: url(/assets/img/travel-slider-bg.png)')
        .block-slider__top.block-top.wow.animate__animated.animate__fadeInRight(data-wow-offset='300')
          .block-top__title.line-left Shore
          .block-top__subtitle.subtitle
            | Airline Beach 
            span |
            |  Australia
        .block-slider__bottom.block-bottom(style='background-image: url(/assets/img/travel-plane.png)')
          .block-bottom__title.line-right Airline
          .block-bottom__subtitle.subtitle
            | Virgin Australia
            img(src='/assets/img/travel-logo.svg' alt='travel-logo')
      .block-slider__info.block-info
        .block-info__item.wow.animate__animated.animate__fadeInUp(data-wow-offset='200' data-wow-delay='.3s')
          .block-info__title Destination
          .block-info__subtitle
            | Queensland 
            br
            |  Australia
        .block-info__item.wow.animate__animated.animate__fadeInUp(data-wow-offset='200' data-wow-delay='.6s')
          .block-info__title Distance
          .block-info__subtitle 7,065 Miles
        .block-info__item.wow.animate__animated.animate__fadeInUp(data-wow-offset='200' data-wow-delay='.9s')
          .block-info__title block Time
          .block-info__subtitle
            | 23 Hours 
            br
            | 5 Minutes
        .block-info__item.wow.animate__animated.animate__fadeInUp(data-wow-offset='200' data-wow-delay='1.2s')
          .block-info__title Pricing
          .block-info__subtitle
            | $1,976 USD
            span.block-info__span Round Trip
      .block-slider__btn.wow.animate__animated.animate__fadeInUp(data-wow-offset='200' data-wow-delay='0.6s' data-wow-duration='1.2s')
        a.btn(href='#')
          | book 
          span flight
    .block-slider__item
      .block-slider__header(style='background-image: url(/assets/img/travel-slider-bg.png)')
        .block-slider__top.block-top
          .block-top__title.line-left Shore
          .block-top__subtitle.subtitle
            | Airline Beach 
            span |
            |  Australia
        .block-slider__bottom.block-bottom(style='background-image: url(/assets/img/travel-plane.png)')
          .block-bottom__title.line-right Airline
          .block-bottom__subtitle.subtitle
            | Virgin Australia
            img(src='/assets/img/travel-logo.svg' alt='travel-logo')
      .block-slider__info.block-info
        .block-info__item
          .block-info__title Destination
          .block-info__subtitle
            | Queensland 
            br
            |  Australia
        .block-info__item
          .block-info__title Distance
          .block-info__subtitle 7,065 Miles
        .block-info__item
          .block-info__title block Time
          .block-info__subtitle
            | 23 Hours 
            br
            | 5 Minutes
        .block-info__item
          .block-info__title Pricing
          .block-info__subtitle
            | $1,976 USD
            span.block-info__span Round Trip
      .block-slider__btn
        a.btn(href='#')
          | book 
          span flight
    .block-slider__item
      .block-slider__header(style='background-image: url(/assets/img/travel-slider-bg.png)')
        .block-slider__top.block-top
          .block-top__title.line-left Shore
          .block-top__subtitle.subtitle
            | Airline Beach 
            span |
            |  Australia
        .block-slider__bottom.block-bottom(style='background-image: url(/assets/img/travel-plane.png)')
          .block-bottom__title.line-right Airline
          .block-bottom__subtitle.subtitle
            | Virgin Australia
            img(src='/assets/img/travel-logo.svg' alt='travel-logo')
      .block-slider__info.block-info
        .block-info__item
          .block-info__title Destination
          .block-info__subtitle
            | Queensland 
            br
            |  Australia
        .block-info__item
          .block-info__title Distance
          .block-info__subtitle 7,065 Miles
        .block-info__item
          .block-info__title block Time
          .block-info__subtitle
            | 23 Hours 
            br
            | 5 Minutes
        .block-info__item
          .block-info__title Pricing
          .block-info__subtitle
            | $1,976 USD
            span.block-info__span Round Trip
      .block-slider__btn
        a.btn(href='#')
          | book 
          span flight
    .block-slider__item
      .block-slider__header(style='background-image: url(/assets/img/travel-slider-bg.png)')
        .block-slider__top.block-top
          .block-top__title.line-left Shore
          .block-top__subtitle.subtitle
            | Airline Beach 
            span |
            |  Australia
        .block-slider__bottom.block-bottom(style='background-image: url(/assets/img/travel-plane.png)')
          .block-bottom__title.line-right Airline
          .block-bottom__subtitle.subtitle
            | Virgin Australia
            img(src='/assets/img/travel-logo.svg' alt='travel-logo')
      .block-slider__info.block-info
        .block-info__item
          .block-info__title Destination
          .block-info__subtitle
            | Queensland 
            br
            |  Australia
        .block-info__item
          .block-info__title Distance
          .block-info__subtitle 7,065 Miles
        .block-info__item
          .block-info__title block Time
          .block-info__subtitle
            | 23 Hours 
            br
            | 5 Minutes
        .block-info__item
          .block-info__title Pricing
          .block-info__subtitle
            | $1,976 USD
            span.block-info__span Round Trip
      .block-slider__btn
        a.btn(href='#')
          | book 
          span flight
    .block-slider__item
      .block-slider__header(style='background-image: url(/assets/img/travel-slider-bg.png)')
        .block-slider__top.block-top
          .block-top__title.line-left Shore
          .block-top__subtitle.subtitle
            | Airline Beach 
            span |
            |  Australia
        .block-slider__bottom.block-bottom(style='background-image: url(/assets/img/travel-plane.png)')
          .block-bottom__title.line-right Airline
          .block-bottom__subtitle.subtitle
            | Virgin Australia
            img(src='/assets/img/travel-logo.svg' alt='travel-logo')
      .block-slider__info.block-info
        .block-info__item
          .block-info__title Destination
          .block-info__subtitle
            | Queensland 
            br
            |  Australia
        .block-info__item
          .block-info__title Distance
          .block-info__subtitle 7,065 Miles
        .block-info__item
          .block-info__title block Time
          .block-info__subtitle
            | 23 Hours 
            br
            | 5 Minutes
        .block-info__item
          .block-info__title Pricing
          .block-info__subtitle
            | $1,976 USD
            span.block-info__span Round Trip
      .block-slider__btn
        a.btn(href='#')
          | book 
          span flight
    .block-slider__item
      .block-slider__header(style='background-image: url(/assets/img/travel-slider-bg.png)')
        .block-slider__top.block-top
          .block-top__title.line-left Shore
          .block-top__subtitle.subtitle
            | Airline Beach 
            span |
            |  Australia
        .block-slider__bottom.block-bottom(style='background-image: url(/assets/img/travel-plane.png)')
          .block-bottom__title.line-right Airline
          .block-bottom__subtitle.subtitle
            | Virgin Australia
            img(src='/assets/img/travel-logo.svg' alt='travel-logo')
      .block-slider__info.block-info
        .block-info__item
          .block-info__title Destination
          .block-info__subtitle
            | Queensland 
            br
            |  Australia
        .block-info__item
          .block-info__title Distance
          .block-info__subtitle 7,065 Miles
        .block-info__item
          .block-info__title block Time
          .block-info__subtitle
            | 23 Hours 
            br
            | 5 Minutes
        .block-info__item
          .block-info__title Pricing
          .block-info__subtitle
            | $1,976 USD
            span.block-info__span Round Trip
      .block-slider__btn
        a.btn(href='#')
          | book 
          span flight
    .block-slider__item
      .block-slider__header(style='background-image: url(/assets/img/travel-slider-bg.png)')
        .block-slider__top.block-top
          .block-top__title.line-left Shore
          .block-top__subtitle.subtitle
            | Airline Beach 
            span |
            |  Australia
        .block-slider__bottom.block-bottom(style='background-image: url(/assets/img/travel-plane.png)')
          .block-bottom__title.line-right Airline
          .block-bottom__subtitle.subtitle
            | Virgin Australia
            img(src='/assets/img/travel-logo.svg' alt='travel-logo')
      .block-slider__info.block-info
        .block-info__item
          .block-info__title Destination
          .block-info__subtitle
            | Queensland 
            br
            |  Australia
        .block-info__item
          .block-info__title Distance
          .block-info__subtitle 7,065 Miles
        .block-info__item
          .block-info__title block Time
          .block-info__subtitle
            | 23 Hours 
            br
            | 5 Minutes
        .block-info__item
          .block-info__title Pricing
          .block-info__subtitle
            | $1,976 USD
            span.block-info__span Round Trip
      .block-slider__btn
        a.btn(href='#')
          | book 
          span flight
    .block-slider__item
      .block-slider__header(style='background-image: url(/assets/img/travel-slider-bg.png)')
        .block-slider__top.block-top
          .block-top__title.line-left Shore
          .block-top__subtitle.subtitle
            | Airline Beach 
            span |
            |  Australia
        .block-slider__bottom.block-bottom(style='background-image: url(/assets/img/travel-plane.png)')
          .block-bottom__title.line-right Airline
          .block-bottom__subtitle.subtitle
            | Virgin Australia
            img(src='/assets/img/travel-logo.svg' alt='travel-logo')
      .block-slider__info.block-info
        .block-info__item
          .block-info__title Destination
          .block-info__subtitle
            | Queensland 
            br
            |  Australia
        .block-info__item
          .block-info__title Distance
          .block-info__subtitle 7,065 Miles
        .block-info__item
          .block-info__title block Time
          .block-info__subtitle
            | 23 Hours 
            br
            | 5 Minutes
        .block-info__item
          .block-info__title Pricing
          .block-info__subtitle
            | $1,976 USD
            span.block-info__span Round Trip
      .block-slider__btn
        a.btn(href='#')
          | book 
          span flight